.hero{
    position: relative;

}
.bannerimg{
    width: 100%;
    mask-image: linear-gradient(to right,transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right,transparent, black 75%);

}
.herocaption{
    position: absolute;
    width: 100%;
    padding: 6%;
    bottom: 0;
}
.caption-img{
    width: 90%;
    max-width:420px ;
    margin-bottom: 30px;
}
.herocaption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.herobtns{
    display: flex;
    gap: 1%;
    margin-bottom: 50px;
}
.herobtns .btn img{
    width: 25px;
}
.herobtns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.herobtns .dark_btn{
    color: #fff;
    background: #6d6d6eb3;
}
.herobtns .btn:hover{
    background: #ffffffbf;
}
.herobtns .btn.dark_btn:hover{
    background: #6d6d6e66 ;
}
.more_cards{
    padding-left: 6%;
}
@media (max-width:1024px) {
    .herocaption .titlecards{
        display: none;
    }
    .herobtns{
        margin-bottom: 30px;
    }
}
@media (max-width:800px) {
    .herocaption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .herocaption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .herobtns .btn{
        width: 20px;
    }
    .more_cards{
        padding-left: 4%;
    }
}
@media (max-width:500px){
    .caption-img{
        display: none;
    }
   .herobtns .btn img{
        width: 15px;
    }
    .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}